.site-footer{
	background: var(--footer-bg);
	background-size: cover;

	p{
		margin-bottom: 0;
	}

	.social-links{
		margin-top: 16px;
		ul{

			li{
					
				svg{
					padding: 11px;
    				height: 40px;
   					width: 40px;
					background: var(--white-color);
					color: var(--primary-color);
					@include border-radius(50px);
					@include transition(ease 0.6s);

					&:hover{
						@include border-radius(0px);
					}
				}

			}//li

		}//ul

	}//links

}