
// Media breakpoints defined in settings
$break-xl: 1199px !default;
$break-lg: 1024px !default;
$break-md: 768px !default;   
$break-sm: 500px !default;  

// Media query mixin
@mixin media($screen){
    
    @if $screen == xl{
        @media (max-width: $break-xl){
            @content;
        }
    }@else if $screen == lg{
        @media (max-width: $break-lg){
            @content;
        }
    }@else if $screen == md{
        @media (max-width: $break-md){
            @content;
        }
    }@else if $screen == sm{
        @media (max-width: $break-sm){
            @content;
        }
    }
    
}
 
