/* ====================================================
    # Varible CSS
============================================== */
:root {
    --primary-color: #1f2b5f;
    --secondary-color: #ec4626;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-color: #424242;
    --font-dark-color: #424242;
    --footer-bg: #2a2c38;
    --section-color: #f5f5f5;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}


