.page-banner{
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/sliders/slider-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 68px 0;

	.page-title{
		color: var(--white-color);

	}//page-title
	
	.bread-crumbs .active{
		color: var(--secondary-color);
	}
}